{% extends 'base.html' %}
{% load i18n future mezzanine_tags cand_tags %}

{% block meta_title %}
{{candidate.0.candidate_name_box}}
{{candidate.0.post_description}}
{{candidate.0.election_year}}
{{candidate.0.party_acronym}}
{{candidate.0.electoral_unity_desc}}
{{candidate.0.state}}
{% endblock %}

{% block title %}
{{candidate.0.candidate_name}}
{% endblock %}


{% block extra_head %}
<script src="{{STATIC_URL}}cand/lib/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}cand/lib/jquery.mousewheel.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}cand/lib/jquery.kinetic.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}cand/lib/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{STATIC_URL}}cand/styles.css" />
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $("div#makeMeScrollable").smoothDivScroll({
             easingAfterHotSpotScrolling: false,
             touchScrolling: true
        });
    });
</script>
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ candidate.0.candidate_name }}</li>
{% endblock %}

{% block main %}
<div class="property_list" id="makeMeScrollable">
    <table>
        <tr>
            {% for c in candidate %}
            <td>
                <table class="table table-striped property table-bordered">
                    <caption> 
                        {{c.candidate_name_box}}, 
                        {{c.post_description}}, 
                        {{c.election_year}},
                        {{c.party_acronym}},
                        {{c.electoral_unity_desc}},
                        {{c.state}},
                        {{c.candidate_status_desc}}
                    </caption>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'Property Description' %}</th>
                        <th>{% trans 'Property Value' %}</th>
                    </tr>
                    {% for p in c.get_property %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{p.property_desc}}</td>
                        <td>{{p.property_value|myintword}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2" class="text-right">
                            {% trans 'Total value' %}
                        </td>
                        <td><strong>{{c.patrimony|myintword}}</strong></td>
                    </tr>
                </table>
            </td>
            {% endfor %}
        </tr>
    </table>
</div>

<h2>{% trans 'Properties per year' %}</h2>
<div class="chart-place">
    <ul class="chart">
        <li class="y-label">
            {% for l in labels %}
            <div><span>{{l|myintword}}</span></div>
            {% endfor %}
        </li>
        {% for col in chart %}
        <li>
            <span style="height:{{col.2}}%" title="{{col.0}}"></span>
        </li>
        {% endfor %}
    </ul>    

</div>

{% endblock %}
