{% load i18n future mezzanine_tags cand_tags %}
<table class="search_results table table-striped">
    <tr>
        <td>{% trans 'Candidate name' %}</td>
        <td>{% trans 'Name box' %}</td>
        <td>{% trans 'Post' %}</td>
        <td>{% trans 'Electoral ID' %}</td>
        <td>{% trans 'Party' %}</td>
        <td>{% trans 'State' %}</td>
        <td>{% trans 'Year' %}</td>
        <td>{% trans 'Patrimony' %}</td>
    </tr>
{% for r in results %}
    <tr>
        <td>{{r.candidate_name}}</td>
        <td><a href="{% url 'candidate' r.candidate_electoral_id %}">{{r.candidate_name_box}}</a></td>
        <td>{{r.post_description}}</td>
        <td>{{r.candidate_electoral_id}}</td>
        <td>{{r.party_acronym}}</td>
        <td>{{r.state}}</td>
        <td>{{r.election_year}}</td>
        <td>{{r.patrimony|myintword}}</td>
    </tr>
{% endfor %}
</table>
