{% extends 'base.html' %}
{% load i18n future mezzanine_tags cand_tags %}

{% block meta_title %}{% trans 'Patrimonial Variation' %}{% endblock %}

{% block title %}
{% trans 'Patrimonial Variation' %}
{% endblock %}


{% block extra_head %}
<link rel="stylesheet" href="{{STATIC_URL}}cand/styles.css" />
<script src="{{STATIC_URL}}cand/variation_filter.js"></script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        var years = [{% for y in filter.years %}{{y.year}},{% endfor %}];
        var f = filter('#variation_filter', years);
        f.init();
    });
</script>
{% endblock %}

{% block left_panel %}
<p>
<form method="get">
<div class="filter" id="variation_filter">
    <div class="form-group">
        <label for="final_year">{% trans 'Final year' %}</label>
        <select id="final_year" name="final_year"></select>
    </div>
    <div class="form-group">
        <label for="initial_year">{% trans 'Initial year' %}</label>
        <select id="initial_year"  name="initial_year"></select>
    </div>
    <div class="checkbox">
        <label data-toggle="tooltip" data-placement="bottom" title="{% trans 'if yes only the candidates that were elected in the initial year will be considered in the analysis' %}">
            <input type="checkbox" id="elected_only" name="elected_only" value="true"> {% trans 'Only candidates elected in ' %}<span id="cbl_year">{{initial_year}}</span>
        </label>
    </div>
    <div class="form-group">
        <label for="row_count">{% trans 'Number of candidates' %}</label>
        <select id="row_count" name="row_count">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
    </div>
    <div class="form-group">
        <label for="state">{% trans 'State' %}</label>
        <div id="state" class="multiselect">
            <input type="checkbox" id="state-all" checked> <label for='state-all'>{% trans 'All' %}</label><br/>
            {% for s in filter.states %}
            {% if forloop.counter == 5 %}
            <a href="javascript:void(0)" onclick="javascript:$('#state-more').toggle();$(this).remove()">{% trans 'more' %}</a>
            <div id="state-more" style="display:none">
            {% endif %}
            <input type="checkbox" name="state[]" id="state-{{s.code}}" value="{{s.code}}"/>
            <label for="state-{{s.code}}">{{s.code}}</label><br/>
            {% if forloop.last and forloop.counter > 4 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="post">{% trans 'Post' %}</label>
        <div id="post" class="multiselect">
            <input type="checkbox" id="post-all" checked> <label for='post-all'>{% trans 'All' %}</label><br/>
            {% for p in filter.posts %}
            {% if forloop.counter == 5 %}
            <a href="javascript:void(0)" onclick="javascript:$('#post-more').toggle();$(this).remove()">{% trans 'more' %}</a>
            <div id="post-more" style="display:none">
            {% endif %}
            <input type="checkbox" name="post[]" id="post-{{p.id}}" value="{{p.code}}"/>
            <label for="post-{{p.id}}">{{p.desc}}</label><br/>
            {% if forloop.last and forloop.counter > 4 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-default">{% trans 'Apply filter' %}</button>
</div>
</form>
</p>
{{ block.super }}
{% endblock %}


{% block main %}
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>{% trans 'Name box' %}</th>
        <th>{% trans 'Post' %}</th>
        <th>{% trans 'Party' %}</th>
        <th>{% trans 'State' %}</th>
        <th>{% trans 'Patrimony in' %} {{initial_year}}</th>
        <th>{% trans 'Patrimony in' %} {{final_year}}</th>
        <th>{% trans 'Patrimony variation' %}</th>
    </tr>
    {% for c in results %}
    <tr>
        <td>{{ c.position }}</td>
        <td><a href="{% url 'candidate' c.candidate_electoral_id %}">{{c.candidate_name_box}}</a></td>
        <td>{{c.post_description}}</td>
        <td>{{c.party_acronym}}</td>
        <td>{{c.state}}</td>
        <td>{{c.initial_sum|myintword}}</td>
        <td>{{c.final_sum|myintword}}</td>
        <td>{{c.variation|patfilter}}</td>
    </tr>
    {% endfor %}
</table>

<ul class="pager">
        {% if previous_page >= 0 %}
        <li class="previous">
            <a href="?{{query_string}}&page={{ previous_page }}">&larr; {% trans 'Previous' %}</a>
        </li>
        {% endif %}

        <span class="current">
            {% trans 'Page' %} {{ page_number }}
        </span>

        {% if has_next_page %}
        <li class="next">
            <a href="?{{query_string}}&page={{ next_page }}">{% trans 'Next' %} &rarr;</a>
        </li>
        {% endif %}
</ul>

{% endblock %}
