{% load i18n future mezzanine_tags cand_tags %}
<table class="search_results table table-striped">
    <tr>
        <td>{% trans 'Name box' %}</td>
        <td>{% trans 'Post' %}</td>
        <td>{% trans 'Party' %}</td>
        <td>{% trans 'State' %}</td>
        <td>{% trans 'Year' %}</td>
        <td>{% trans 'Property Type' %}</td>
        <td>{% trans 'Property' %}</td>
        <td>{% trans 'Value' %}</td>
    </tr>
{% for r in results %}
    <tr>
        <td><a href="{% url 'candidate' r.candidate.candidate_electoral_id %}">{{r.candidate.candidate_name_box}}</a></td>
        <td>{{r.candidate.post_description}}</td>
        <td>{{r.candidate.party_acronym}}</td>
        <td>{{r.state}}</td>
        <td>{{r.election_year}}</td>
        <td>{{r.property_type_desc}}</td>
        <td>{{r.property_desc}}</td>
        <td>{{r.property_value|myintword}}</td>
    </tr>
{% endfor %}
</table>

