{% extends 'base.html' %}
{% load i18n future mezzanine_tags keyword_tags %}

{% block meta_title %}{% trans 'Search' %}{% endblock %}

{% block title %}
{% trans 'Search' %}
{% endblock %}


{% block extra_head %}
<link rel="stylesheet" href="{{STATIC_URL}}cand/styles.css" />
<script src="{{STATIC_URL}}/cand/searchform.js"></script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        var flt = filter('#filter')
        flt.init()
        var sf = searchform('#searchform', flt);
        sf.init();
    });
</script>
{% endblock %}

{% block left_panel %}
<div class="filter" id="filter">
    <div class="form-group">
        <label for="patrimony">
            <span id="vis-property-value" >{% trans 'Property value' %}</span>
            <span id="vis-patrimony">{% trans 'Patrimony' %}</span>
        </label>
        <select id="patrimony" name="patrimony">
            <option value="0">{% trans 'all' %}</option>
            <option value="1">{% trans '0 up to 10 thousand' %}</option>
            <option value="2">{% trans '10 thousand up to 100 thousand' %}</option>
            <option value="3">{% trans '100 thousand up to 1 million' %}</option>
            <option value="4">{% trans '1 million up to 10 millions' %}</option>
            <option value="5">{% trans 'greater than 10 millions' %}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sort">{% trans 'Sort type' %}</label>
        <select id="sort"  name="sort">
            <option value="desc">{% trans 'highest to lowest' %}</option>
            <option value="asc">{% trans 'lowest to highest' %}</option>
        </select>
    </div>
    <div class="form-group" id="property-type">
        <label for="ptype">{% trans 'Property type' %}</label>
        <div id="ptype" class="multiselect">
            <input type="checkbox" id="ptype-all" checked> <label for='ptype-all'>{% trans 'All' %}</label><br/>
            <input type="checkbox" name="ptype[]" id="ptype-21" value="21"/> <label for="ptype-21">{% trans 'vehicles' %}</label><br/>
            <input type="checkbox" name="ptype[]" id="ptype-63" value="63"/> <label for="ptype-63">{% trans 'cash in reais' %}</label><br/>
            <input type="checkbox" name="ptype[]" id="ptype-21" value="64"/> <label for="ptype-64">{% trans 'cash not in reais' %}</label><br/>
            <input type="checkbox" name="ptype[]" id="ptype-12" value="12"/> <label for="ptype-12">{% trans 'houses' %}</label><br/>
            <input type="checkbox" name="ptype[]" id="ptype-32" value="32"/> <label for="ptype-32">{% trans 'shares' %}</label><br/>
            <input type="checkbox" name="ptype[]" id="ptype-91" value="91"/> <label for="ptype-91">{% trans 'concessioncs' %}</label><br/>
        </div>
    </div>
    <div class="form-group">
        <label for="year">{% trans 'Year' %}</label>
        <div id="year" class="multiselect">
            <input type="checkbox" id="year-all" checked> <label for='year-all'>{% trans 'All' %}</label><br/>
            {% for s in filter.years %}
            {% if forloop.counter == 5 %}
            <a href="javascript:void(0)" onclick="javascript:$('#year-more').toggle();$(this).remove()">{% trans 'more' %}</a>
            <div id="year-more" style="display:none">
            {% endif %}
            <input type="checkbox" name="year[]" id="year-{{s.id}}" value="{{s.year}}"/>
            <label for="year-{{s.id}}">{{s.year}}</label><br/>
            {% if forloop.last and forloop.counter > 4 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="state">{% trans 'State' %}</label>
        <div id="state" class="multiselect">
            <input type="checkbox" id="state-all" checked> <label for='state-all'>{% trans 'All' %}</label><br/>
            {% for s in filter.states %}
            {% if forloop.counter == 5 %}
            <a href="javascript:void(0)" onclick="javascript:$('#state-more').toggle();$(this).remove()">{% trans 'more' %}</a>
            <div id="state-more" style="display:none">
            {% endif %}
            <input type="checkbox" name="state[]" id="state-{{s.id}}" value="{{s.code}}"/>
            <label for="state-{{s.id}}">{{s.code}}</label><br/>
            {% if forloop.last and forloop.counter > 4 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="post">{% trans 'Post' %}</label>
        <div id="post" class="multiselect">
            <input type="checkbox" id="post-all" checked> <label for='post-all'>{% trans 'All' %}</label><br/>
            {% for p in filter.posts %}
            {% if forloop.counter == 5 %}
            <a href="javascript:void(0)" onclick="javascript:$('#post-more').toggle();$(this).remove()">{% trans 'more' %}</a>
            <div id="post-more" style="display:none">
            {% endif %}
            <input type="checkbox" name="post[]" id="post-{{p.id}}" value="{{p.code}}"/>
            <label for="post-{{p.id}}">{{p.desc}}</label><br/>
            {% if forloop.last and forloop.counter > 4 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label for="party">{% trans 'Party' %}</label>
        <div id="party" class="multiselect">
            <input type="checkbox" id="party-all" checked> <label for='party-all'>{% trans 'All' %}</label><br/>
            {% for p in filter.party %}
            {% if forloop.counter == 5 %}
            <a href="javascript:void(0)" onclick="javascript:$('#party-more').toggle();$(this).remove()">{% trans 'more' %}</a>
            <div id="party-more" style="display:none">
            {% endif %}
            <input type="checkbox" name="party[]" id="party-{{p.id}}" value="{{p.party_acronym}}"/>
            <label for="party-{{p.id}}">{{p.party_acronym}}</label><br/>
            {% if forloop.last and forloop.counter > 4 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{{ block.super }}
{% endblock %}

{% block main %}
<div id="searchform">
    <input type="hidden" id="search_type" name="search_type" value="{{search_type}}"/>
    <div class="form-group">
        <label for="exampleInputEmail1">{% trans 'Search' %}</label>
        <div class="input-group">
            <input type="text" name="q" class="form-control" id="query" placeholder="{% trans 'Type text to search' %}"{% if query %} value="{{query}}"{%endif%}>
            <div class="input-group-btn"  id="search_type_selector">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span id="vis_cand">{% trans 'Candidate' %}</span><span id="vis_prop" style="display: none;">{% trans 'Property' %}</span> 
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a id="search_type_c" href="javascript:void(0)">{% trans 'Candidate' %}</a></li>
                    <li><a id="search_type_p" href="javascript:void(0)">{% trans 'Property' %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <button id="submit" class="btn btn-default">{% trans 'Submit' %}</button>
</div>
{% if show_results %}
{% if results %}
<p>
    {% if search_type == 'c' %}
    {% include 'cand/candidate_results.html'%}
    {% else %}
    {% include 'cand/property_results.html' %}
    {% endif %}
</p>


<ul class="pager">
    {% if results.has_previous %}
    <li class="previous">
        <a href="?{{query_string}}&page={{ results.previous_page_number }}">&larr; {% trans 'Previous' %}</a>
    </li>
    {% endif %}
    
    <span class="current">
        {% trans 'Page' %} {{ results.number }} {% trans 'of' %} {{ results.paginator.num_pages }}
    </span>
    
    {% if results.has_next %}
    <li class="next">
        <a href="?{{query_string}}&page={{ results.next_page_number }}">{% trans 'Next' %} &rarr;</a>
    </li>
    {% endif %}
</ul>
{% else %}
<p>
  {% trans 'Nothing found' %}
</p>
{% endif %}
{% endif %}
</form>
{% endblock %}

