div.property_list {

}

div.property_list td {
    vertical-align: top;
}

table.property {
    font-size: 0.8em;
    width: 250px;
}

.chart-place {
    padding: 20px 5px 50px 5px;
    border: 1px solid silver;
    margin: 30px;
}

.chart {
    display:table;
    table-layout: fixed;   
    
    width:90%;

    height:250px;
    margin:0 auto;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
    
    background-size: 100% 50px;
    background-position: left top;
}

.chart li {
    position:relative;
    display:table-cell;
    vertical-align:bottom;
    height:200px;
}

.chart > li > span{
    margin:0 1em;
    display: block;
    background: blue;
    min-height: 1px;
}
    
.chart span::before {
    position:absolute;
    left:0;right:0;top:100%;
    padding:5px 1em 0;
  	display:block;
    text-align:center;
    content: attr(title);
    word-wrap: break-word;
}
   
.chart li.y-label div {
    color: black;
    height: 50px;
    font-size: 0.8em;
    line-height: 0px;
} 

.y-label {
    width: 100px;
}

.filter .multiselect label {
    display: inline;
    font-weight: normal;
}

table.search_results td {
    font-size:0.9em;
}

#makeMeScrollable
{
	width:100%;
	position: relative;
}

/* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

/* Invisible left hotspot */
div.scrollingHotSpotLeft
{
	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
	min-width: 75px;
	width: 10%;
	height: 100%;
	/* There is a big background image and it's used to solve some problems I experienced
    in Internet Explorer 6. */
	background-image: url(./lib/images/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	left: 0;
	/*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible
{
	background-image: url(./lib/images/arrow_left.gif);				
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35; /* Standard CSS3 opacity setting */
	-moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
	filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
	zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
}

/* Invisible right hotspot */
div.scrollingHotSpotRight
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	background-image: url(./lib/images/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	right: 0;
}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible
{
	background-image: url(./lib/images/arrow_right.gif);
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35;
	filter: alpha(opacity = 35);
	-moz-opacity: 0.35;
	zoom: 1;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}

div.filter {
    margin-bottom: 20px;
}