{% extends "admin/index.html" %}

{% block content_title%}<h1>Import data</h1>{% endblock %}

{% block content %}

{% if res %}
Import finished: {{res}} records created.

{% else %}
<p>Select a file:</p>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <p><br/><input type="submit" name="apply" value="Import" /></p>
</form>
{% endif %}
{% endblock %}

{% block sidebar %}{% endblock %}
