{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Seja bem-vindo ao vossaexcelencia.org!</h2>
<p>
    Nosso objetivo é facilitar a visualização de dados públicos.
</p>
<p>
    Nossa primeira aplicação é a:
</p>
<ul>
    <li><a href="/cand/">Análise Patrimonial</a></li>
</ul>
<p>
    Ela apresenta uma lista de candidatos ordenada pela Variação Patrimonial entre dois anos eleitorais. Essa variação é
    calculada dividindo-se o patrimônio declarado no ano final pelo patrimônio no ano inicial. Atualmente estão disponíveis
    dados dos anos de 2006 a 2014.
</p>
<p>
    Ao clicar no nome dos candidatos será mostrada a lista detalhada de bens declarados em cada ano.
</p>
<p>
    Também é possível fazer uma <a href="/cand/search">pesquisa</a> por candidatos ou bens. Ao clicar em buscar com a
caixa de texto vazia todos os candidatos ou bens serão mostrados. Há várias opções para filtrar e ordenar os resultados.
</p>
<p>
    Os dados utilizados nessa análise são obtidos do <a href="http://www.tse.jus.br/eleicoes/estatisticas/repositorio-de-dados-eleitorais">Repositório de dados eleitorais</a> do TSE.
</p>
<p>
    Para mais detalhes veja as <a href="/faq/">Perguntas Frequentes</a> ou os <a href="/termos/">Termos de uso</a> do nosso site.
</p>
<p>
    Caso ainda tenha dúvidas, não hesite em entrar em <a href="/contato/">contato conosco</a>.
</p>
{% endblocktrans %}
{% endblock %}
